#left-menu {
  float:left;
  position: fixed;
  width: 200px;
  display: block;
  margin: 10px;
  padding: 0px:
}

#content {
  float: left;
  margin: 10px;
  padding-left: 200px;
}

#top-list{
  float: right;
  width: 400px;
  position: fixed;
  top: 20px;
  right: 20px;
}

#content img {
  float: right;
  max-width: 200px;
}

.panel-success .panel-body {
  background-color: #F3FFF8;
}

.panel-info .panel-body {
  background-color: #F3F9FF;
}

.panel-danger .panel-body {
  background-color: #FFF3F3;
}
