#left-menu {
  float:left;
  position: fixed;
  width: 200px;
  display: block;
  margin: 10px;
  padding: 0px;
  background-color: #F5F5F5;
}

#content {
  float: left;
  margin: 10px;
  padding-left: 200px;
}

#top-list{
  float: right;
  width: 400px;
}

#content figure {
  float: right;
  max-width: 200px;
  margin: 2px;
}

#content img {
  max-width: 200px;
}

.panel-success .panel-body {
  background-color: #F3FFF8;
}

.panel-info .panel-body {
  background-color: #F3F9FF;
}

.panel-danger .panel-body {
  background-color: #FFF3F3;
}

#login {
  float: right;
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#login li {
  display: inline-block;
}

#tableft {
  float: left;
}

#tabright {
  float: right;
}

#topbanner {
  background-image: url(img/graytile.png);
  background-repeat: repeat-x;
}
